<!DOCTYPE html>
<html>
<head>
	<title>My assignment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />
	<link rel="icon" href="/images/favicon.jpg" type="image/x-icon"/>
	<link href="/css/loginForm.css" rel="stylesheet">
</head>
<body>
<div class = "container">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">	
			<form action="/toLanding" method="post" name="Login_Form" class="form-signin">       
			      <h3 class="text-center">Welcome to my Assignment! Please Sign In</h3>
				  <hr><br>
				  <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
				  <br>
				  <input type="password" class="form-control" name="Password" placeholder="Password" required=""/>     		<br><br>			 
				  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
			</form>	
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>